.Section{
    padding: 5rem 0;
    text-align: center;
    background-color:cadetblue;
}
.left{
    text-align: left;
}
.ContactSection__wrapper{
display: flex;
gap: 5rem;
margin-top: 7rem;
justify-content: space-between;
position: relative;
}
.ContactSection__wrapper::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 50%;
    background-color:black;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.left{
    width: 300px;
    max-width: 500px;
}
.right{
    width: 400px;
    max-width: 500px;
}
@media only screen and (max-width: 768px) {
    .ContactSection__wrapper{
        flex-direction: column;
    }
    .ContactSection__wrapper::after{
        display: none;
    }
    .left,.right{
        max-width: 100%;
    }
    .right{
        padding: 4rem,2rem,2rem,2rem;
    }
}