.some{
    text-decoration: none;
    font-weight: bold;
    color: white
}

.Twitter{
    color: #00ACEE;
}
.facebook{
    color: #008ad3;
}
.insta{
    color: #E1306C;

}
.white{
    color: #28c6f5;
    text-decoration: none;
    font-weight: bold;
}
